<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPlayersMVC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/style.css" />

</head>

<body>
    <header>
        <div class="container container_header">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img class="logo_header"
                    src="~/imagens/logo.svg"></img></a>
            <nav class="links_header">
                <a asp-area="" asp-controller="Home" asp-action="Index" title="Voltar para a página inicial">Início</a>
                <a asp-area="" asp-controller="Home" asp-action="Index"
                    title="Ir até a sessão de horários das partidas">Horários</a>
                <a asp-area="" asp-controller="Home" asp-action="Index"
                    title="Ir até a sessão de campeonatos">Campeonatos</a>
                <a asp-area="" asp-controller="Home" asp-action="Index"
                    title="Ir até a sessão de resultados das partidas">Resultados</a>
                <a asp-area="" asp-controller="Home" asp-action="Index" title="Ir até a sessão de notícias">Notícias</a>

                @if (ViewBag.UserName != null)
                {
                    <a style="color: pink"> Olá @ViewBag.UserName! </a>
                    <a asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                }
                else
                {

                    <a asp-area="" asp-controller="Login" asp-action="" title="Logar no site">Login</a>

                }

            </nav>
        </div>
    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="box">
            <div class="links_uteis">
                <h6>Links Úteis</h6>
                <a href="#">Regras de utilização</a>
                <a href="#">Suporte</a>
                <a href="#">Central de Ajuda</a>
                <a href="#">Contato</a>
            </div>
            <div class="paginas">
                <h6>Páginas</h6>
                <a href="#">Inicio</a>
                <a href="#">Campeonato</a>
                <a href="#">Resultados</a>
                <a href="#">Notícias</a>
                <a href="#">Login/Cadastro</a>
            </div>

            <div class="logo_footer">
                <img src="~/imagens/logo.svg" alt="logo site">
            </div>

            <div class="redes_sociais">
                <input type="text" placeholder="Digite seu email">
                <button>Cadastrar</button>
                <div class="redes">
                    <span>Siga-nos em:</span>
                    <a href=""><img src="~/imagens/instagram.png" alt="instagram"></a>
                    <a href=""><img src="~/imagens/facebook.png" alt="facebook"></a>
                    <a href=""><img src="~/imagens/youtube.png" alt="youtube"></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
